{{ chat_room.name }}

<div id="chat-log">
  {% for message in messages %}
    {{ message.user.username }}: {{ message.message_content }}<br>
  {% endfor %}
</div>

<form action="" method="post">
  {% csrf_token %}
  <input type="text" name="message" id="message" />
  <button id="sendButton" type="submit">Send</button>
</form>

{{ chat_room.slug|json_script:"chat_room_name" }}
{{ request.user.username|json_script:"current_username" }}

<script>
  const chatRoomName = JSON.parse(document.getElementById('chat_room_name').textContent);
  const userName = JSON.parse(document.getElementById('current_username').textContent);
  // console.log(chatRoomName)
  const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    + chatRoomName
    + '/'
  )
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.message) {
      console.log('Received message to client is: ', data.message)
      let html = data.username + ': ' + data.message + '<br>'
      document.getElementById('chat-log').innerHTML += html

    } else {
      alert('The message was empty');
    }
    // console.log(data)
    // document.querySelector('#chat-log').value += (data.username + ': ' + data.message + '\n');
  }

  chatSocket.onclose = function (e) {
    console.log("Socket Closed")
  }

  document.getElementById('sendButton').onclick = function (e) {
    e.preventDefault();
    const messageInput = document.getElementById('message');
    const message = messageInput.value;
    chatSocket.send(JSON.stringify({
      'message': message,
      'username': userName,
      'room': chatRoomName,
    }));
    messageInput.value = '';
  };

</script>