{% extends 'chat/base.html' %}
{% load static %}

<!-- Body starts here -->
{% block body %}
<div class="mt-10 mb-5 mx-10 text-2xl font-semibold">
  {{ chat_room.name }}
</div>

<div id="messageContainer" class="message container mx-10 my-20 overflow-auto h-120">
  <div id="chat-log">
    {% for message in messages %}
    <div class="message shadow-lg p-3 rounded-lg w-1/2 m-3 bg-blue-300">
      <div class="text-gray-500 text-sm">
        {{ message.user.username }}
      </div>
      {{ message.message_content }}
      <div class="text-gray-500 text-sm">
        {{ message.date }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="form-container fixed inset-x-0 bottom-0 p-4 bg-blue-900 rounded-lg">
  <form action="" method="post">
    {% csrf_token %}
    <input class="rounded-md px-2 ml-10" type="text" name="message" id="message" />
    <button class="text-white ml-4 py-1 px-3 rounded-md bg-blue-500" id="sendButton" type="submit">Send</button>
  </form>
</div>



{{ chat_room.slug|json_script:"chat_room_name" }}
{{ request.user.username|json_script:"current_username" }}

<!-- Body ends here -->
{% endblock body %}


{% block script %}
<script>
  const chatRoomName = JSON.parse(document.getElementById('chat_room_name').textContent);
  const userName = JSON.parse(document.getElementById('current_username').textContent);
  // console.log(chatRoomName)
  const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    + chatRoomName
    + '/'
  )
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.message) {
      // console.log('Received message to client is: ', data.message)

      let html = `<div class="message shadow-lg p-3 rounded-lg w-1/2 m-3 bg-blue-300">
    <div class="text-gray-500 text-sm">
      ${data.username}
    </div>
    ${data.message}
    <div class="text-gray-500 text-sm">
      Now
    </div>
  </div>`
      document.getElementById('chat-log').innerHTML += html

    } else {
      alert('The message was empty');
    }
    scroll();
    // console.log(data)
    // document.querySelector('#chat-log').value += (data.username + ': ' + data.message + '\n');
  }

  chatSocket.onclose = function (e) {
    console.log("Socket Closed")
  }

  document.getElementById('sendButton').onclick = function (e) {
    e.preventDefault();
    const messageInput = document.getElementById('message');
    const message = messageInput.value;
    chatSocket.send(JSON.stringify({
      'message': message,
      'username': userName,
      'room': chatRoomName,
    }));
    messageInput.value = '';
  };

  function scroll () {
    const mContainer = document.getElementById('messageContainer');
    mContainer.scrollTop = mContainer.scrollHeight;
  }
</script>

{% endblock script %}